.sticky-bottom {
  position: sticky !important;
  bottom: 0 !important;
  z-index: 1020 !important;
}

input[type="search"]:focus {
  border-color: rgba(118, 118, 118, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(118, 118, 118, 0.6);
  outline: 0 none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: url("docs/x.svg");
}
