@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

body {
  background-color: #f8f9fa;
}

.red {
  color: #dc3545;
}

div:first-of-type {
  margin-top: 25vh;
}

div#credits {
  position: absolute;
  bottom: 0rem;
  width: 100vw;
}

div {
  display: flex;
  justify-content: center;
}

button {
  margin-inline: 1rem;
  user-select: none;
}
