@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

.red {
  color: #d00000;
}

div:first-of-type {
  margin-top: 25vh;
}

div:last-of-type {
  position: absolute;
  bottom: 0rem;
  width: 100vw;
}

div {
  display: flex;
  justify-content: center;
}

button {
  margin-inline: 1rem;
}
